{% extends "base.html" %}

{% block content %}


<section class="d-flex h-100 text-center">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">


  <main class="px-3">
    <h1>Um pouco mais sobre a academia</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In semper mattis nisl, non eleifend nulla euismod et. Aliquam at tellus ornare, rhoncus tortor vitae, interdum tortor.
         Quisque in vestibulum massa, sit amet finibus mauris. Morbi porta fringilla orci eu malesuada. Cras pharetra ornare vestibulum. Proin tempor egestas rutrum. Sed tempor tristique tellus,
          a vulputate est dignissim sit amet. Aenean dapibus nisi vitae risus sagittis aliquam. In non lectus ut nisl tempus tincidunt in condimentum dui. Nunc pharetra quam et venenatis fringilla.
           Curabitur et nisi tincidunt, lobortis felis venenatis, rutrum odio.
            Etiam rutrum elit id bibendum scelerisque. Aliquam consectetur facilisis ex non tempor. Fusce ultrices justo sed lacus aliquam finibus.
         Maecenas congue auctor nibh. Donec dictum ligula vitae sapien placerat lobortis. In lobortis lobortis aliquam. Aliquam ac aliquam sapien. Integer ligula diam, maximus non hendrerit eu,
          feugiat sed sapien. In vitae feugiat nibh, malesuada faucibus nibh. Sed auctor egestas leo et varius. Donec nec faucibus ipsum. Fusce velit nisi, faucibus in quam ut, dignissim tincidunt dolor.
           Nulla et elit at libero egestas placerat. Phasellus at nisi condimentum, vestibulum lorem eu, venenatis nibh. Pellentesque eget turpis odio.
        Nunc at venenatis massa. Ut at posuere dolor. Morbi vehicula, lorem non dignissim vulputate, eros felis mattis orci, id volutpat nunc ex dapibus massa. Vestibulum imperdiet ante eget rhoncus hendrerit. 
        Ut sit amet lacus libero. Vestibulum iaculis eu arcu ut ultricies. Mauris purus leo, sollicitudin in finibus sit amet, lacinia vitae lacus.
        Pellentesque eu elit dapibus, laoreet quam at, semper urna. Cras ac elementum ante. Integer vehicula tincidunt fermentum. Donec et tristique ante. Quisque ut tristique nisl, a euismod mauris. 
        Nam ornare turpis nec ligula aliquet vehicula. Quisque porttitor risus vitae dolor semper, in convallis ipsum finibus. Cras eget diam id nibh porta tempor ac vitae risus. Suspendisse odio nulla, 
        elementum eu ipsum ut, blandit lacinia odio. Donec dapibus dictum ligula, eget maximus risus posuere sed. Sed lacinia condimentum velit, ac placerat lectus. Vivamus egestas dolor est, nec tincidunt ligula sagittis ut.
        Pellentesque eget ipsum felis. Duis porttitor eros vehicula arcu bibendum semper. Nunc iaculis, massa sed blandit faucibus, magna sem mattis justo, ac gravida nisi justo et ligula. Cras nunc nulla, venenatis a pulvinar vitae, eleifend in odio. 
        Proin rhoncus sapien quam, et rhoncus tortor finibus sed. Donec scelerisque egestas nulla. Ut pretium iaculis nulla vitae aliquet. Phasellus iaculis, dui ac aliquet venenatis, orci dui sollicitudin est, 
        vitae varius turpis lorem id felis. Nullam non quam sed libero pellentesque ornare et nec magna. Vivamus lacus purus, vestibulum sit amet tincidunt sit amet, fermentum eget purus. Aenean luctus nisl non eros tincidunt, et sagittis metus mattis. Duis mi urna, dictum sed finibus id, dictum in mauris. Mauris eu euismod enim. Nam consequat ante quis odio tempus lobortis. Praesent a neque vestibulum, vulputate erat id, porttitor odio. Suspendisse a commodo orci.</p>
    <img src="https://picsum.photos/1200/500" alt="">
  </main>

  
<script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    

</section>


{% endblock %}